<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div id="list">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>广告-有点</title>
    <link rel="stylesheet" type="text/css" href="css/css.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
<div id="pageAll">
    <div class="pageTop">
        <div class="page">
            <img src="img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
                href="#">积分管理</a>&nbsp;-</span>&nbsp;积分项列表
        </div>
    </div>
    <div class="page">
        <!-- banner页面样式 -->
        <div class="banner">
            <div class="add">
                <a class="addA" href="index.php?r=userlog/show">个人日志&nbsp;&nbsp;+</a>
                <?php echo $arr['sel'];?>
            </div>
            <!-- banner 表格 显示 -->
            <div class="banShow">
                <table border="1" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="66px" class="tdColor tdC">序号</td>
                        <td width="315px" class="tdColor">用户</td>
                        <td width="308px" class="tdColor">内容</td>
                        <td width="450px" class="tdColor">操作时间</td>
                        <td width="125px" class="tdColor">操作</td>
                    </tr>
                    <?php
                    if($arr['arr'] ==""){
                        echo '<tr class="gradeX"><td colspan="7" valign="top">没有数据</td></tr>';
                    }else{
                    foreach($arr['arr'] as $key=>$val)
                    {?>
                    <tr class="gradeX" id="<?php echo $val['ulog_id']?>" style="height: 50px">
                        <td><?php echo $val['ulog_id'] ?></td>
                        <td>
                            <?php echo $val['m_name']?>
                        </td>
                         <td>
                            <?php echo $val['u_content']?>
                        </td>
                         <td>
                            <?php echo $val['u_time']?>
                        </td>
                       
                        <td class="center">
                            <a href="javascript:void(0);" onclick="ckDel(<?php echo $val['ulog_id']?>)">
                                <img src="img/delete.png" />
                            </a>
                        </td>
                    </tr>
                    <?php }}?>
                </table>
                <?php echo $arr['page']?>
            </div>
            <!-- banner 表格 显示 end-->
        </div>
        <!-- banner页面样式end -->
    </div>

</div>


<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
    //删除
    function ckDel(id){
        var ulog_id = id;
         //alert(ulog_id);
        $.ajax({
            type : 'POST',
            url : 'index.php?r=userlog/delete2',
            data :'ulog_id='+ulog_id,
            success : function(msg){
                //alert(msg);
                if(msg){
                    $('#list').html(msg);
                }else{
                    alert('删除失败');
                }
            }
        })
    }
    
</script>
</html>
</div>