<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>广告-有点</title>
        <link rel="stylesheet" type="text/css" href="css/css.css" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="js/page.js" ></script> -->
    </head>

    <body>
    <div id="pageAll">
        <div class="pageTop">
            <div class="page">
                <img src="img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
                    href="#">积分管理</a>&nbsp;-</span>&nbsp;积分项列表
            </div>
        </div>
        <div class="page">
            <!-- banner页面样式 -->
            <div class="banner">
                <div class="add">
                    <a class="addA" href="index.php?r=integral/add">添加积分项&nbsp;&nbsp;+</a>
                </div>
                <!-- banner 表格 显示 -->
                <div class="banShow">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="300px" class="tdColor"><span style="float: left"><input type="checkbox" value="1" name="id[]">权限名称</span></td>
                            <td width="160px" class="tdColor">控制器</td>
                            <td width="160px" class="tdColor">方法</td>
                            <td width="200px" class="tdColor">上次操作时间</td>
                            <td width="260px" class="tdColor">操作</td>
                        </tr>
                        <?php
                        if(!empty($arr)){
                        foreach($arr as $key=>$val){
                        ?>
                        <tr>
                            <td>
                                <span style="float: left">
                                <input type="checkbox" value="<?php echo $val['pri_id']?>" name="id[]">
                                <img class="img_1" border="0" align="absmiddle" src="img/left_e.gif" parent_id="<?php echo $val['pri_id']?>">
                                <img class="img_2" border="0" align="absmiddle" src="img/left_d.gif" parent_id="<?php echo $val['pri_id']?>" style="display: none;">
                                <span style="color:#0066CC; " class="span"><?php echo $val['i_name']?></span>
                                <input type="text" parent_name="i_name" parent_id="<?php echo $val['pri_id']?>" class="text" style="color:#0066CC;display: none;" value="<?php echo $val['i_name']?>">
                                <span style="color:#CCCCCC">(id:1)</span>
                                </span>
                            </td>
                            <td>

                            </td>
                            <td></td>
                            <td></td>
							<td></td>
                        </tr>
                        <?php
                        if(!empty($val['son'])){
                        foreach($val['son'] as $k=>$v){
                        ?>
                        <tr style="display: none" class="tr<?php echo $val['pri_id']?>">
                            <td>
                                <span style="float: left">
                                <img src="img/cat_left1.gif" border="0"/>
                                <input type="checkbox" value="<?php echo $v['pri_id']?>" name="id[]">
                                <span style="color:#0066CC;" class="span"><?php echo $v['i_name']?></span>
                                <input parent_name="i_name" parent_id="<?php echo $v['pri_id']?>" type="text" class="text" style="color:#0066CC;display: none" value="<?php echo $v['i_name']?>">
                                <span style="color:#CCCCCC">(id:2)</span>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
							<td></td>
                        </tr>
                        <?php }}}}?>
                        </table>
                </div>
                <!-- banner 表格 显示 end-->
            </div>
            <!-- banner页面样式end -->
        </div>

    </div>


    <!-- 删除弹出框  end-->
    </body>
    <script type="text/javascript">
        $('.img_1').click(function(){
            var id = $(this).attr('parent_id');
            $('.tr'+id).slideDown('2000');
            $(this).hide();
            $(this).next().show();
        });
        $('.img_2').click(function(){
            var id = $(this).attr('parent_id');
            $('.tr'+id).slideUp('2000');
            $(this).hide();
            $(this).prev().show();
        });
        $('.span').click(function(){
            $(this).hide();
			$(this).next().show().focus();
        });
		$('.text').blur(function(){
            var th = $(this);
			var value = $(this).prev().html().trim();
			var new_value = $(this).val().trim();
			if(new_value == value){
				$(this).hide();
				$(this).prev().show();
			}else if(new_value == ""){
                $(this).val(value);
				$(this).hide();
				$(this).prev().show();
                $(this).after('<span style="color:red;">&nbsp;&nbsp;&nbsp;不能为空！&nbsp;&nbsp;&nbsp;<font color="blue" class="s">3</font></span>');
				setInterval(
				function(){
						var time = $(th).next().children().html().trim();
						if(time>1){
							$(th).next().children().html(time-1);
						}else{
							$(th).next().hide();
						}
					}
				,1000);
			}else{
				var pri_id = $(this).attr('parent_id');
				var name = $(this).attr('parent_name');
                $.ajax({
					type : 'POST',
					url : 'index.php?r=privilege/upd',
					data : 'id='+pri_id+'&name='+name+'&value='+new_value,
					success : function(msg){
						if(msg){
							
						}
					}
				});
			}
		})
    </script>
    </html>