<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专业添加-有点</title>
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">分类管理</a>&nbsp;-</span>&nbsp;专业添加
			</div>
		</div>
		<div class="page ">
			<!-- 上传广告页面样式 -->
			<form action="index.php?r=category/majorinsert" method='post'>
			<div class="banneradd bor">
				<div class="baTopNo">
					<span>专业添加</span>
				</div>
				<div class="baBody">
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;专业名称：<input type="text" name="m_name"
							class="input3" />
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;父级专业：
						<select class="input3" name='m_pid'>
							<option value="0">请选择....</option>
							<?php 
							foreach($arr as $key=>$val) {?>
								<option value="<?php echo $val['major_id'] ?>">
									<?php 
									if($val['level']<1)
									{
										echo str_repeat('|---',$val['level']).$val['m_name']; 
									}
									
									
									?>
								</option>
							<?php } ?>
						</select>
					</div>
					<div class="bbD">
						<p class="bbDP">
							<input type="submit" class="btn_ok btn_yes" value='添加' />
							<input type="reset" class="btn_ok btn_no" value='取消' />
						</p>
					</div>
				</div>
			</div>
			</form>
			<!-- 上传广告页面样式end -->
		</div>
	</div>
</body>
</html>