<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录-有点</title>
<link rel="stylesheet" type="text/css" href="css/public.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/public.js"></script>
</head>
<form action="index.php?r=login/login1" method="post">
<body>

    <!-- 登录页面头部 -->
    <div class="logHead">
        <img src="img/logLogo.png" />
    </div>
    <!-- 登录页面头部结束 -->

    <!-- 登录body -->
    <div class="logDiv">
        <img class="logBanner" src="img/logBanner.png" />
        <div class="logGet">
            <!-- 头部提示信息 -->
            <div class="logD logDtip">
                <p class="p1">登录</p>
                <p class="p2">有点人员登录</p>
            </div>
            <!-- 输入框 -->
            <div class="lgD">
                <img class="img1" src="img/logName.png" /><input type="text"
                  id="name1"  name="name1" placeholder="输入用户名" onblur="names()" /><span id="nname"></span>
            </div>
            <div class="lgD">
                <img class="img1" src="img/logPwd.png" /><input type="password"
                  id="pwd1"  name="pwd1" placeholder="输入用户密码" onblur="pwds()" /><span id="npwd"></span>
            </div>
           
            <div class="logC">
                <button type="submit" >登录</button>
            </div>
        </div>
    </div>
    <!-- 登录body  end -->

    <!-- 登录页面底部 -->
    <div class="logFoot">
        <p class="p1">版权所有：南京设易网络科技有限公司</p>
        <p class="p2">南京设易网络科技有限公司 登记序号：苏ICP备11003578号-2</p>
    </div>
    <!-- 登录页面底部end -->
</body>
</form>
</html>
<script type="text/javascript">
var str=false;
function names(){

var user = document.getElementById('name1').value.trim();   
 //alert(user);
 if (user.length =="0") {
  document.getElementById("nname").innerHTML="<font color='red'>用户名不能为空</font>";
   str=false;
 }
 else{
    document.getElementById("nname").innerHTML="<font color='red'></font>";
    str=true;
 }
}
function pwds(){
var name= document.getElementById('name1').value.trim();
var pwd = document.getElementById('pwd1').value.trim();
 if (pwd.length =="0") {
  document.getElementById("npwd").innerHTML="<font color='red'>密码不能为空</font>";
 str=false;
 }else{
$.ajax({
                    type: "POST",  
                    url: "index.php?r=login/select1",    
                    data: 'name='+name+'&pwd='+pwd,       
                    success: function (msg) {                       //成功回传值后触发的方法
                        //alert(msg);
                        if (msg != 1 ) {   
                             //如果回传的json不为null或json中的IS键
                          document.getElementById("npwd").innerHTML="<font color='red'>密码或账号错误</font>";
                           str=false;
                              
                }else{
                     document.getElementById("npwd").innerHTML="<font color='red'></font>";
                       str=true;
                }
                }
                })

  

 }
}
$('form').submit(function(){
           if(str==true)
           {
              return true;
           }
           else
           { 
               return false;
           }
    }); 
 </script>