<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分类管理</title>
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
    <div id="pageAll">
        <div class="pageTop">
            <div class="page">
                <img src="img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
                    href="#">分类管理</a>&nbsp;-</span>&nbsp;专业分类
            </div>
        </div>
        <div class="page">
            <!-- banner页面样式 -->
            <div class="banner">
                <div class="add">
                    <a class="addA" href="index.php?r=category/postadd">添加专业&nbsp;&nbsp;+</a>
                </div>
                <!-- banner 表格 显示 -->
                <div class="banShow" >
                    <table border="1" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="166px"  class="tdColor tdC">专业名称</td>
                            <td width="315px" class="tdColor">父级id</td>
                            <td width="308px" class="tdColor">添加时间</td>
                            <td width="250px" class="tdColor">操作</td>
                        </tr>
                       
                    </table>
                    <div class="paging">
                        
                    </div>
                </div>
                <!-- banner 表格 显示 end-->
            </div>
            <!-- banner页面样式end -->
        </div>

    </div>


    <!-- 删除弹出框 -->
    <div class="banDel">
        <div class="delete">
            <div class="close">
                <a><img src="img/shanchu.png" /></a>
            </div>
            <p class="delP1">你确定要删除此条记录吗？</p>
            <p class="delP2">
                <a href="#" class="ok yes" id='shan' onclick="del()">确定</a><a class="ok no">取消</a>
            </p>
        </div>
    </div>
    <!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
// 广告弹出框
function delban(id)
{      
    $(".banDel").show();
    $('#shan').attr('onclick',"del("+id+")");
}

$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
function del(id){
    $.ajax({
        type:"post",
        url:"index.php?r=category/del",
        data:"id="+id,
        success:function(e)
        {
            if(e!=1)
            {
                alert(e);
            }
        }
    })
    $('#a_'+id).remove();
    $(".banDel").hide();
}
</script>
</html>